#centered_small_icon{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    background-size: 100px;
    background-position: center;
    background-image: url("../ff-logo.png");
    background-repeat: no-repeat;
    width: 800px;
    height: 200px;
}
#green_line{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: greenyellow;
    width: 800px;
    height: 200px;
}