.figure1{
    margin: 0;
    padding: 0;
    border: solid black 2px;
    height: 150px;
    width: 150px;
}
.figure2{
    margin: 0;
    padding: 15px;
    border: solid black 5px;
    height: auto;
}
.figure3{
    margin: 20px;
    padding: 0;
    border: solid coral 2px;
    height: auto;
}
.figure4{
    margin: 0;
    padding: 10px;
    border: solid blue 2px;
    border-radius: 10px;
    height: 100px;
    width: 50%;
}
.figure5{
     margin: 0;
     padding-left: 50px;
     border: solid black 2px;
     height: auto;
 }
.figure6{
    margin-left: 50px;
    padding: 0;
    border: solid black 2px;
    height: auto;
}
.figure7{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: solid cadetblue 4px;
    border-radius: 5px;
    height: 80px;
    width: 80px;
}