body {
    margin: 0px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);}
#clouds{
    background-image: url("../imag/Mario/clouds.png");
    height: 80px;
    width: auto;
    margin: 0;
}
#sol{
    background-image: url("../imag/Mario/sol-teletubbies-png-.png");
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 400px;
    height: 280px;
}
#flexx{
    display: flex;
    align-items: flex-end;
}
#shrek{
    background-image: url("../imag/Mario/Shrek-render.png");
    background-repeat: no-repeat;
    background-size: 50%;
    width: 110px;
    height: 163px;
    position: relative;
    top: 90px;
    left: 75px;
}
#abajo{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#mario{
    background-image: url("../imag/Mario/mario.png");
    height: 113px;
    width: 239px;
    position: relative;
    top: 15px;
}
#base{
    background-image: url("../imag/Mario/base.png");
    height: 14px;
}
