*{
    /* background-attachment: fixed;        */
    /* background-blend-mode: color;        */
    /* background-clip: border-box;     */
    /* background-color: aquamarine;        */
    /* background-image: none;      */
    /* background-origin: border-box;       */
    /* background-position: 2px;        */
    /* background-repeat: no-repeat;        */
    /* background-size: 2px;        */
    /* background: #ffffff url("la imagen aqui") no-repeat right top;       */
}