

header{
    background-color: antiquewhite;
}

.descripcion{
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../imag/resumen-superficie-agua-piscina-fondo-reflejo-luz-sol_74190-8510.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.boxx{
    padding:20px;
    border: 10px solid black;
    margin: 50px;
    width: 500px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50% 50%;
}
.boxx img{
    width: 450px;
    height: 350px;
}
.felxxx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* 1024px de maximo*/
nav{
    display: grid;
    grid-template-columns: 91% 3% 3% 3%;
}
h1{
    margin: 5px;
    display:flex;
    justify-content: flex-start;
}
.indexpart{
    display: flex;
    justify-content:flex-end;
}
.indexpart a{
    padding-right: 20px;
}
.pie{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
.piepagina{
    display: flex;
    flex-direction: column;
}
#fot{
    width: 118px;
}